<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Books</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>
<form th:action="@{/books/list}" method="get">
    <button class="btn btn-md btn-warning btn-block" type="Submit">Go To Books List</button>
</form>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form autocomplete="off" action="#" th:action="@{/books/add}"
                  th:object="${book}" method="post" class="form-horizontal"
                  role="form">
                <h2>Add book</h2>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                               class="validation-message"></label>
                        <input type="text" th:field="*{title}" placeholder="Title"
                               class="form-control"/>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{author}" placeholder="Author"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('author')}" th:errors="*{author}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <input type="text" th:field="*{year}" placeholder="Year"
                               class="form-control"/> <label
                            th:if="${#fields.hasErrors('year')}" th:errors="*{year}"
                            class="validation-message"></label>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <select th:field="*{category}">
                            <option value="" th:disabled="disabled" th:selected="selected"> &#45;&#45; Select the category &#45;&#45; </option>
                            <option th:value="'IT'" th:text="IT"></option>
                            <option th:value="'Health'" th:text="Health"></option>
                            <option th:value="'Beauty'" th:text="Beauty"></option>
                            <option th:value="'History'" th:text="History"></option>
                            <option th:value="'Fantastic'" th:text="Fantastic"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <tr>
                        <input type="radio" name="cover" value="soft-cover" checked="checked"> soft-cover<br>
                        <input type="radio" name="cover" value="hard-cover"> hard-cover<br>
                    </tr>
                </div>
                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Add book</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>