<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Spring Security Tutorial</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/list.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container">
    <form>
        <h3>All Book</h3>
        <br/>

        <table>
            <thead>
        <tr>
            <th>#ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Author</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
            </thead>
            <tr>
                <td>${book.id}</td>
                <td>${book.title}</td>
                <td>${book.year}</td>
                <td>${book.author}</td>
                <td>${book.category}</td>
            </tr>
        </table>

    </form>
</div>
</body>
</html>